.navbar {
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  background-color: #333;
}

.logo {
  color: white;
  margin-right: 10px;
}

/* .navbarPanel {
} */
.navItem {
  float: left;
}

/* .navLink {
} */
.navItem .navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navLinkCart {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

.navItem .navLink:hover {
  background-color: #111;
}
.navCart .navLinkCart:hover {
  background-color: #111;
}
